html {
  font-family: 'Courier New', Courier, monospace;
  background: #c6ffdd;
  background: -webkit-linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  background: linear-gradient(to right,#c6ffdd, #fbd786, #f7797d);
}

.main {
  background-color: white;
  border: 10px solid pink;
  width: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hidden {
  height: 0px;
  opacity: 0;
}

.visible {
  opacity: 1;
  font-style: italic;
}

body {
  justify-content: center;
  padding: 200px;
  background-image: url("https://i.gifer.com/2iiD.gif");
  background-position: right bottom;
  background-repeat: no-repeat;
}

#footer {
  width: 500px;
  font-size: 11px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

