html {
  font-family: 'Courier New', Courier, monospace;
  background: #B6E7F7;
background: -webkit-linear-gradient(to right, #668EC8, #B6E7F7);
background: linear-gradient(to right, #668EC8, #B6E7F7);

}

.main {
  background-color: rgba(255, 255, 255, 0.75);
  border: 10px solid #4876B9;
  width: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hidden {
  height: 0px;
  opacity: 0;
}

.visible {
  opacity: 1;
  font-style: italic;
}

body {
  min-height: 65vh;
  background-image: url("https://vignette.wikia.nocookie.net/yandere-simulator-fanon/images/3/38/Pusheen.gif/revision/latest?cb=20170323104013");
  /* ("https://i.gifer.com/2iiD.gif"); */
  background-position: right bottom;
  background-repeat: no-repeat;
}

#footer {
  width: 500px;
  font-size: 11px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

#box {
  margin: 15%;
}
